ul {
    display: flex;
    overflow: hidden;
    width: 50vw;
    height: 35px;
    justify-content: space-evenly;
    border-radius: 30px;
    list-style-type: none;
    font-family: 'Quicksand';
    margin-left: 300px;
    background-color: rgb(178, 187, 202);
}

li {
    margin-top: 7px;
    font-weight: 900;
    font-size: 20px;
    font-weight: 80;
    color: rgb(255, 255, 255);
    font-weight: 330;
}

li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

button{

    border-radius: 30px;
    background-color: rgb(146, 151, 224);
    border-style: none;
    height: 20px;
    width: 70px;
    margin-top: 8px;
    color: #ffffff;
}